@import url('https://fonts.googleapis.com/css?family=Merriweather:300');
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    font-weight: 300;
    color: #333;
    background-color: #ffffff;
    background-image: url("../images/beige-paper.png");
}

@media only screen and (max-width: 640px) {
    .content {
        font-size: 220% !important;
        height: 110%;
    }
    .centered {
        width: 90% !important;
    }
    article {
        padding: 0 0.2em !important;
    }
}

.content {
    font-size: 300%;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.content:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.centered {
    margin-top: 1em;
    max-width: 800px;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

article {
    padding: 0 1em;
}

h1 {
    text-align: center;
}

h6 {
    margin: 1em 0;
}

p {
    font-size: 30%;
}

.pre {
    margin-bottom: -1em;
}

label.trigger {
    font-size: 25%;
}

.imprint {
    opacity: 0;
    width: 60%;
    margin: auto;
    transition: opacity ease-out 0.5s;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#hacky-input {
    display: none;
}

#hacky-input:checked+label.trigger .imprint {
    opacity: 1;
    max-height: 500px;
    transition: opacity ease-in 0.5s;
    transition: max-height 0.5s ease-in;
}

.imprint p {
    font-size: 100%;
}
.pre{
      padding:0em 1em;
      text-align: justify;
      line-height: 1.5em;
}

.horizontal {
    width: 100%;
    height: 1px;
    background: #000;
    opacity: 0.5;
}
a {
  color: #000;
  font-weight: bold;
}
